<ion-view title="Tabs">
            <ion-content padding="true" class="has-header">
                <form>
                    <ion-list></ion-list>
                </form>
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <a href="#/tabs/player" class="button button-energized button-block">Alone</a>
                <button class="button button-assertive button-block" ng-click="showAlert();">remote</button>
            </ion-content>
</ion-view>