  <ion-modal-view>
	  <ion-header-bar>
	      <h1 class="title">Game</h1>
	    </ion-header-bar>
	    <ion-content>
	     	<div class="row" ng-repeat="(key, row) in game.grid">
			    <div class="col-33" ng-repeat="item in row track by $index" ng-click="check(key, value)">
			    	{{item}}
				</div>
			</div>
	    <!--  	<button ng-click="nextStep();">Next</button>-->
	    </ion-content>
  </ion-modal-view>