<ion-view title="Game">
    <ion-content padding="true" class="has-header">
        <h1></h1>
         <a ng-click="OpenModal();" class="button button-light button-block">Start</a>
        <button class="button button-light button-block">Continue</button>

    </ion-content>
</ion-view></script>

