<ion-view title="Tabs">
            <ion-content padding="true" class="has-header">
                <h1>Scoring</h1>
                <div class="list card">
                    <div class="item item-divider">Top10</div>
                    <div class="item item-body">
                        <ion-list></ion-list>
                        <ion-list>
                            <ion-item>Majdi</ion-item>
                            <ion-item>Raff</ion-item>
                            <ion-item>Fab</ion-item>
                        </ion-list>
                        <ion-list>
                            <ion-item>Item 1</ion-item>
                            <ion-item>Item 2</ion-item>
                            <ion-item>Item 3</ion-item>
                        </ion-list>
                    </div>
                </div>
            </ion-content>
</ion-view>