<ion-view title="Tabs">
    <ion-content padding="true" class="has-header">
        <h1>Settings</h1>
        <form>
            <ion-toggle toggle-class="toggle-positive">Sound</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Easy</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Middle</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Hard</ion-toggle>
            <ion-toggle toggle-class="toggle-dark">Fast</ion-toggle>
        </form>
        <button class="button button-balanced button-clear button-block">Facebook connection</button>
    </ion-content>
</ion-view>